{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="../../../static/css/font.css">
  <link rel="stylesheet" href="../../../static/css/main.css">
  <link rel="stylesheet" href="../../../static/css/home.css">
  <link rel="stylesheet" href="../../../static/css/quiz.css">

</head>
<br><br>
<body style="font-family: 'Source Sans Pro', sans-serif!important;">
<div class="container my-4">
    <div class="jumbotron">

	      <h3>Прежде чем приступить к экзамену, ознакомьтесь с правилами</h3>

        <div class="row">

            <div>
                <div>

                    <h4 style="color: rgb(46, 46, 46); font-size: larger;">Об экзамене:</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>Название экзамена: {{course.course_name}}</li>
                            <li>Число вопросов: {{total_questions}}</li>
                            <li>Оценка: {{total_marks}}</li>
                        </ul>
                    <p></p>



                    <h4 style="color: rgb(46, 46, 46); font-size: larger;">Правила:</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li><span class="text-danger">Только один выбор правильный.</span></li>
                            <li>Каждый вопрос имеет разные отметки
                            </li>
                
                            <li>Постарайтесь ответить как можно быстрее.</li>
                    <li>Если вы нажмете «Обновить» или вернетесь на предыдущую страницу, для вас появится новый вопрос, а вопрос, на который вы ответили, будет засчитан как попытка.</li> <li>
                    Вопросы отображаются случайным образом для каждого пользователя</li>
                    <li>Вам сообщат ваши оценки сразу после отправки ответа.</li>
                        </ul>
                    <p></p>
                    <a href="{% url 'start-exam' course.id  %}"><button class="dark-button" style="max-height: fit-content;">Начать</button></a>
                </div>  
            </div>  
        </div>  

    </div>
</div>

<br><br><br><br><br><br>
</body>
{% endblock content %}