{% extends 'main/base.html'%}
{% block title %}Grades{% endblock %}
{% block main %}

<style>

    summary:hover {
        text-decoration: underline;
    }

    details summary::-webkit-details-marker,
    details summary::marker { 
        color: #46467A;
    }
</style>
<div style="font-size:larger; font-family: 'Source Sans Pro', sans-serif!important; background-color: #F7DBA7; border-radius: 80px; padding: 5% 10%; margin: 10vh;">
    <div style="text-decoration: underline; display: flex; flex-direction: row; justify-content: flex-start; color: #46467A;">
        <h2>5 класс</h2>
    </div>
{% if articles %}
    {% for el in articles %}
            {% if el.article_type == "5" %}
                <details>
                <summary><a>{{el.title}}</summary>
                <div style="margin: 10px 0; border-radius: 10px; background-color: white; padding: 15px 20px;">{{ el.task|linebreaks }}</div>
              </details>
            {% endif %}
    {% endfor %}
{% endif %}
</div>
<br><br>
<p>{% block grade %}{% endblock %}</p>
{% endblock main %}