<!DOCTYPE html>
<html>
  <footer style="margin-top: -100px; justify-content: center;">
    <div>
      <a style="width: fit-content; height: fit-content;" href="{%url 'home'%}">
        <img style="height: 10vh;" src="../../../static/media/logo_with_bg.png" alt="logo">
      </a>
  </div>
  <div class="link-holder">
      <form action="/"><button class="footer-btn">Главная</button></button></form>
      <form action="/training"><button class="footer-btn">Тесты</button></button></form>
      <form action="/lib"><button class="footer-btn">Библиотека</button></button></form>
      <form action="/help"><button class="footer-btn">Помощь</button></button></form>
    </div>
  </footer>
</html>
