<!DOCTYPE html>
{%load static%}
<div class="sidebar">
    <center>

      <img src="{% static "image/student.png" %}" class="profile_image" alt="">
      <h4>{{request.user.first_name}}</h4>
      <h6 style="color: #46467a;">( Студент )</h6>

    </center>

    <a href="/student/student-dashboard"><i class="fas fa-tachometer-alt"></i><span>Доска</span></a>
    <a href="/student/student-exam"><i class="fas fa-book"></i><span>Экзамен</span></a>
    <a href="/student/student-marks"><i class="fas fa-sort-numeric-up"></i><span>Оценки</span></a>
  </div>