<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr" style="font-family: 'Source Sans Pro', sans-serif;">

<head>
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="../../../static/css/main.css">
  <link rel="stylesheet" href="../../../static/css/home.css">

  <link rel="stylesheet" href="../../../static/css/quiz.css">
  <style>
    .side-links {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .side-links div:last-child {
      align-self: center;
    }
  </style>
</head>

<body style="font-family: 'Source Sans Pro', sans-serif;">

  <input type="checkbox" id="check">
  {% include "quiz/header.html" %}
  <div class="sidebar">
    <center>

      <img src="{% static 'image/teacher.png' %}" class="profile_image" alt="">
      <h4 class="name">{{request.user.first_name}}</h4>
      <h6 style="color: #46467a;">( Учитель )</h6>

    </center>

  <div class="side-links">
    <div>
      <a href="/teacher/teacher-dashboard"><span>Доска</span></a>
      <a href="/teacher/teacher-exam"><span>Экзамен</span></a>
      <a href="/teacher/teacher-question"><span>Вопросы</span></a>
    </div>
    <div style="margin: 5px 0">
      <form action="/create"><button class="dark-button new-article-btn" style="height: fit-content;">Создать новую статью</button></form>
    </div>
  </div>
  </div>
  <!--sidebar end-->


  <!--content start-->
  <div class="content">
    <br><br><br><br><br>
    {% block content %}

    {% endblock content %}


    <br><br><br>
  </div>
  <!--content end-->
</body>
</html>
