html {
    font-family: 'Source Sans Pro', sans-serif!important;
    height: 100%;
}

main {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 0%;
    font-family: 'Source Sans Pro', sans-serif!important;
    display: flex;
    flex: 1 0 auto;
}

header {
    height: 10vh;
    background-color: #46467A;
    justify-content: space-around;
    min-width: 100vw;
}

footer {
    background-color: #F7DBA7;
    padding-left: 10%;
    min-width: 100vw;
    color: black;
}
  
  footer .link-holder {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
  
  .footer-btn {
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    border: none;    
    color: #46467A;
    font-family: 'Source Sans Pro', sans-serif!important
}
  
  .footer-btn:hover{
    text-decoration: underline;
}

.head {
    display: flex;
    height: 10vh;
    background-color: #46467A;
    justify-content: space-around;
    min-width: 100vw;
}

header .link-holder{
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.divider {
    width: 1px;
    height: 30px;
    border: none;
    background: #d9d9d9;
}

form {
    height: inherit;
}

header .header-btn {
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    border: none;    
    color: #d9d9d9;
    font-family: 'Source Sans Pro', sans-serif!important
}

header .header-btn:hover {
    background-color: #313155;
}

.btn-profile {
    color: #7766C6;
    background-color: #d9d9d9;
    border: none;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50em;
    position: relative;
    left: 8%;
}

.btn-profile:hover {
    background-color: #c7c7c7;
}

.dark-button {
    background-color: #46467A;
    color: #d9d9d9;
    border: none;
    border-radius: 2em;
    height: 100%;
    padding: 10px;
}

.dark-button:hover {
    background-color: #35355b;
    color: #d9d9d9;
}
